<% const d = new Date()
let year = d.getFullYear() 
%>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 </p>
  <p class="links"><a href="/error/trigger-error">Server Error</a></p>
</footer>